{{- $page := .page -}}
{{- $self := .self -}}

{{- $page_categories := $page.Params.categories -}}
{{- if not $page_categories -}}
  {{- $self.Scratch.Set "page_categories_page_fragments" (slice .) -}}
  {{- range $page.Resources.ByType "page" -}}
    {{- $self.Scratch.Add "page_categories_page_fragments" . -}}
  {{- end -}}
  {{- $content_page := first 1 (where ($self.Scratch.Get "page_categories_page_fragments") "Params.fragment" "in" "content") -}}

  {{- if $content_page -}}
    {{- $page_categories = (index $content_page 0).Params.categories -}}
  {{- end -}}
{{- end -}}
{{- return $page_categories -}}
