{{- $page := .page -}}
{{- $self := .self -}}

{{- $page_author := $page.Params.author -}}
{{- if not $page_author -}}
  {{- $self.Scratch.Set "page_author_page_fragments" (slice .) -}}
  {{- range $page.Resources.ByType "page" -}}
    {{- $self.Scratch.Add "page_author_page_fragments" . -}}
  {{- end -}}
  {{- $content_page := first 1 (where ($self.Scratch.Get "page_author_page_fragments") "Params.fragment" "in" "content") -}}

  {{- if $content_page -}}
    {{- $page_author = (index $content_page 0).Params.author -}}
  {{- end -}}
{{- end -}}
{{- return $page_author -}}
