{{- $self := . -}}

{{- $list_pages := partial "helpers/list-pages.html" (dict "Site" .Site "Params" .Params "root" .root "page_scratch" .page_scratch) -}}
{{- $sorted_pages := $list_pages.sorted_pages -}}

{{- $bg := .self.Scratch.Get "bg" }}
{{- partial "helpers/container.html" (dict "start" true "in_slot" .in_slot "bg" $bg "Name" .Name "Params" .Params) -}}
  {{- partial "helpers/section-header.html" (dict "self" $self.self "bg" $bg "params" .Params) }}
  <div class="row mx-0
    {{- partial "helpers/text-color.html" (dict "self" $self.self "light" "secondary") -}}
  ">
    {{- range first (.Params.count | default 10) $sorted_pages -}}
      {{- $page := . -}}
      {{- $page_title := partial "helpers/page-title.html" (dict "page" . "self" .) -}}
      {{- $self.page_scratch.Set "article_page_fragments" (slice .) -}}
      {{- range .Resources.ByType "page" -}}
        {{- $self.page_scratch.Add "article_page_fragments" . -}}
      {{- end -}}
      {{- $content_page := first 1 (where ($self.page_scratch.Get "article_page_fragments") "Params.fragment" "in" "content") -}}
      {{- $page_id := index (last 1 (findRE "[^\\/]+" .File.Dir)) 0 -}}
      {{- $display_summary := or (not (isset $self.Params "summary")) (eq $self.Params.summary true) -}}
      {{- $slot_context := dict "page" $page "content_fragment" (index $content_page 0) -}}
      {{- partial "helpers/slot.html" (dict "root" $ "slot" "before-item" "data" $slot_context) -}}
      <div class="col-lg-4 col-12 mb-2 d-flex">
        <article class="card w-100">
          <div class="card-body">
            {{- range $content_page }}
              {{- if .Params.cardtop.image -}}
                {{- $file_path := strings.TrimSuffix ".md" (replace .File.Path "/index.md" "") -}}
                {{- $page_scratch := $.page_scratch -}}
                {{- $root := (dict "page" (dict "file_path" $file_path) "page_scratch" $page_scratch "page" $page) }}
                <div class="card-img-top pb-4 mt-1">
                  <div class="row align-items-center" style="min-height: 7em">
                    <div class="col-12 px-0 text-center">
                      <img
                        src="{{ partial "helpers/image.html" (dict "root" $root "asset" .Params.cardtop) }}"
                        style="
                          {{- if .Params.cardtop.height }}height: {{ .Params.cardtop.height }} !important;{{- end -}}
                          {{- if .Params.cardtop.width }}width: {{ .Params.cardtop.width }} !important;{{- end -}}
                        "
                        alt="{{ .Params.subtitle | default $page_title }}"
                        class="img-fluid">
                      </div>
                  </div>
                </div>
              {{- end -}}
            {{- end -}}
            {{- if $page_title -}}
              <div class="card-title">
                <div class="col-12 px-0 pb-1 text-center
                  {{- partial "helpers/text-color.html" (dict "self" $self.self) -}}
                ">
                  <div
                    class="row align-items-center justify-content-between mx-0 article-title">
                    {{- if $display_summary }}
                      <h4 class="col px-0 m-0
                        {{- if eq $.page.Permalink .Permalink }} active-page {{- end -}}
                      ">
                        <a href="{{ .Permalink }}">
                          {{- $page_title | markdownify -}}
                        </a>
                      </h4>
                    {{- else }}
                      <h5 class="col px-0 m-0
                        {{- if eq $.page.Permalink .Permalink }} active-page {{- end -}}
                      ">
                        <a href="{{ .Permalink }}">
                          {{- $page_title | markdownify -}}
                        </a>
                      </h5>
                    {{- end -}}
                  </div>
                </div>
              </div>
            {{- end -}}
            {{- range $content_page }}
              {{- if and (ne $self.Params.images false) .Params.asset -}}
                {{- $file_path := strings.TrimSuffix ".md" (replace .File.Path "/index.md" "") -}}
                {{- $page_scratch := $.page_scratch -}}
                {{- $root := (dict "page" (dict "file_path" $file_path) "page_scratch" $page_scratch "page" $page) }}
                <div class="col-12 px-0 mt-1">
                  <img
                    src="{{ partial "helpers/image.html" (dict "root" $root "asset" .Params.asset) }}"
                    alt="{{ .Params.subtitle | default $page_title }}"
                    class="img-fluid mb-2">
                </div>
              {{- end -}}
            {{- end -}}
            {{- if $display_summary }}
              <div class="col-12 px-0 mt-2
                {{- partial "helpers/text-color.html" (dict "self" $self.self "light" "secondary") -}}
              ">
                {{- range $content_page }}
                  {{ cond (isset .Params "summary") (.Params.summary | markdownify) .Content }}
                {{- end -}}
              </div>
            {{- end -}}
            {{- partial "helpers/slot.html" (dict "root" $ "slot" "after-item" "data" $slot_context) -}}
          </div>
        </article>
      </div>
    {{- end }}
  </div>
{{- partial "helpers/container.html" (dict "end" true "in_slot" .in_slot) -}}
